.login{
    width: 100%;
    height: 43.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Informacion Examen */
.informacion{
    width: fit-content;
    border: 1px solid black;
    max-width: 85%;
    height: fit-content;
    max-height: 55rem;
    border-radius: 0.5rem;
    padding: 2rem 3rem;
    margin: 2rem;
    display: grid;
    justify-items: center;
    align-items: center;
}

.informacionExamen{
    border-radius: 1rem;
    padding: 0.5rem;
}

.informacionExamen label{
    color: black;
    font-weight: 500;
}

#programa{
    border-radius: 0.3rem;
    width: 18rem;
    margin: 0.6rem;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.inputInicionSesion{
    width: 18rem;
    height: 3rem;
    border-radius: 5px;
    height: 100%;
    /* background-color: red; */
}

.inputInicionSesion::placeholder{
    
}

.inicioSesionBoton{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.textButton{
    text-align: center;
    width: 7rem;
    height: 2.2rem;
}

.textButton > div{
    font-size: 1rem;
}


.programa{
    width: 4rem;
}

.inputPrograma{
    font-size: 20px;
}

.bordesTablas{
    min-width: 650;
    border: 1px solid black;
    border-radius: 7px;
    margin: 10px 0 10px 0;
}

.modales{
    width: fit-content;
    max-width: 95%;
    height: fit-content;
    max-height: 30rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem 3rem;
    margin: 1rem 0rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.botonesMargen{
    display: flex;
    justify-content: space-around;
}

.labelExamen{
    width: 100px;
    height: 50px;
}

.inputExamen{
    background: green;
    width: 50px;
    height: 30px;
}

.tablaExamen{
    width: 200px;
    height: 300px;
}

.centrar{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 26rem;
    height: 4rem;
    margin-top: 0.4rem;
    padding: 0;
}

.editarLabel{
    width: 10rem
}

.botonEditar{
    height: 3rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.colorEliminar{
    color: rgb(243, 19, 19);
}

.colorEditar{
    color: rgb(223, 223, 23);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 31rem;
    width: 34rem;
    background:#ffffff;;
    border: '2px solid #000';
    border-radius: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}


/* Style Tablas */
.tablaId{
    width: 15%;
    margin: 0 auto;
}

.tablaProyecto{
    width: 55%;
    margin: 0 auto;
}

.tablaProyecto > div{
    max-height: fit-content;
    overflow: hidden;
    text-align: left;
}

.tablaAcciones{
    width: 30%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-content: center;
}

.tablaAcciones > div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2rem;
}


/* Panel Actividad Formativa */
.actividadDescripcion{
    width: 85rem;
}

.actividadDescripcion > div{
    width: 100%;
    height: fit-content;
}

.actividadAccion{
    width: 15%;
    margin: 0 auto;
}

/* Panel Estudiantes */
.estudianteNombre{
    width: 85%;
}

.estudianteNombre > div{
    width: 100%;
    height: fit-content;
}

.estudianteAccion{
    width: 15%;
    margin: 0 auto;
}