
<section class="content">
    <h1>Materias</h1>
    <div class="header_content">
      <p>Visualizar, Crear, Actualizar o Eliminar materias</p>
      <button [replaceUrl]="true" [routerLink]="['/notas']"><b>Inicio</b></button>
      <button [routerLink]="['/notas-editar']"><b>Nueva Nota</b></button>
      <!-- <button [replaceUrl]="true" [routerLink]="['../notas']"><b>Notas editar</b></button> -->
    </div>
    <div>
      <div class="materia_edit">
        <div class="forms">
          <p class="type_edit">
            {{optionCrud === CREATE ? 'Nueva Materia' : 'Actualizar Materia'}}
          </p>
          
          <div class="input">
            <label>Nombre Materia</label>
            <input [(ngModel)]="seleccionado.nombre" type="text" [ngClass]="[arValidaInput[0] ? '' : 'err']" />
          </div>

          <div class="input">
            <label>Semestre</label>
            <input [(ngModel)]="seleccionado.semestre" type="number" max="12" min="1" [ngClass]="[arValidaInput[1] ? '' : 'err']" />
          </div>


          <button (click)="nuevo(seleccionado, optionCrud)" class="aceptar"><b>Aceptar</b></button>
          <button (click)="borrar(seleccionado)" [hidden]="optionCrud == CREATE" class="eliminar"><b>Eliminar</b></button>
        </div>
        <div class="c_table">
          <table>
            <tr>
              <th>Materia</th>
              <th>Semestre</th>
            </tr>
            <tr *ngFor = "let materiaItem of materias">
              <td (click)="seleccionar(materiaItem); optionCrud = UPDATE;" >{{ materiaItem.nombre }}</td>
              <td (click)="seleccionar(materiaItem); optionCrud = UPDATE;" >{{ materiaItem.semestre }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>