.content {
    background-color: #eee;
    width: 1440px;
    margin-right: 1.5rem;
  }

  .content h1 {
    padding: 0.4rem;
    margin: 2rem;
    border-bottom: solid 3px #483D8B;
  }
  .content .header_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .content .header_content p,
  .content .header_content button {
    max-width: 40%;
    margin: 0 4rem 1.3rem 4rem;
  }
  .content .header_content button {
    padding: 1rem;
    /* background: rgb(0, 51, 102); */
    background: #800080;

    border-radius: 10px;
    color: #eeeeee;
  }
  
  .content .c_table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 1rem 0 1rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  
  .crud_notas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .crud_notas .forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 19rem;
    margin: 3rem;
  }
  .crud_notas .forms select {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .crud_notas .forms div.input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .crud_notas .forms div.input label {
    width: 100%;
    margin: 4px;
  }
  .crud_notas .forms div.input input {
    padding: 0.45rem;
    margin-bottom: 0.8rem;
    border-radius: 10px;
    border: solid 1px #6E61B4;
  }
  .crud_notas .forms .aceptar,
  .crud_notas .forms .eliminar {
    padding: 0.8rem;
    border-radius: 12px;
    margin-bottom: 0.4rem;
    color: #fff;
  }
  .crud_notas .forms .aceptar {
    background-color: rgb(204, 51, 255);
  }
  .crud_notas .forms .eliminar {
    background: rgb(128, 0, 128);
  }
  
  .content .c_table table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
  }
  .content .c_table table tr:first-child {
    border-bottom: solid 2px #483D8B;
  }
  .content .c_table table tr:first-child th {
    padding: 0.5rem;
    color: #483D8B; 
  }
  .content .c_table table tr {
    border-bottom: solid 2px #6E61B4;
  }
  .content .c_table table tr td {
    padding: 0.5rem;
  }
  
  input:required:focus {
    border: 1px solid red;
    outline: none;
  }
  
  textarea:required:focus {
    border: 1px solid red;
    outline: none;
  }
  
  
  .err{
    border-top: solid 1.1px red !important;
    border-bottom: solid 1.1px rgb(165, 6, 6) !important;
    border-left: solid 1.1px rgb(133, 13, 13) !important;
    border-right: solid 1.1px rgb(252, 71, 71) !important;
    box-shadow: 0px 0px 5px 0px #ff00004b;
  }