body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #fff;
}
  
.menu {
  width: 230px;
  background-color: rgb(52,58,64);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: visible;
  color: rgb(204,206,207);
  font-size: 1rem;
  font-weight: 600;
}

.usuarioRolMenu{
  height: 18%;
  text-align: left;
  padding: 0.3rem 0.3rem 0.3rem 0.8rem;
}
  
.menu ul {
  list-style: none;
  padding: 0;
}
  
.opcionesMenu {
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding-left: 12px;
  margin-bottom: 2px;
  margin-left: 3px;
  color: rgb(204,206,207);
  font-size: 14px;
  font-weight: 800;
  border-radius: 8px;
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
}

.opcionesMenu:hover {
  z-index: 3;
  background: rgb(44,49,54);
  transform: scale(1.11);
  transition: height 0.2s;
  margin-left: 15px;
  width: 210px;
}

.enlacesMenu{
  text-decoration: none;
}

.content {
  margin-left: 250px; 
  padding: 20px;
}

.menu ul li a.active {
  font-weight: bold;
}

.programaSelec label{
  color: black;
}

.selector:hover .seleccionarPrograma{
  z-index: 3;
  width: 15rem;
  height: 3.2rem;
  position: static;
}

/* Login */
.informacionInicioSesion{
  border-radius: 1rem;
  padding: 0.5rem;
}

.informacionInicioSesion label{
  color: rgba(0, 0, 255, 0.5);
}

/* Botones */
.botonAgregar{
  text-decoration: none;
  font-weight: 600;
  color: white;
  padding: 0.2rem 1rem;
}

.botonSesion{
  height: 3rem;
  width: 18rem;
}

.componentes > div {
  margin-bottom: 0.8rem;
  padding-bottom: 0.8rem;
}

.botonRegresar{
  margin-top: 1rem;
}

/* Estilos para las Tablas */
.tablas {
  min-width: 650;
  border-radius: 7px;
  margin: 10px 0 10px 0;
}

.tablaEncabezado {
  background-color: rgb(109,136,166);
}

.tablaEncabezado th {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1.5px solid rgb(223,227,231);
}

.bordeVerticar{
  border-right: 1.5px solid rgb(223,227,231);
}

/* Resultados de Aprendizaje Tabla*/
.resultadoTitulo{
  width: 15%;
}

.resultadoDescripcion{
  width: 45%;
  margin: 0 auto;
}

.resultadoDescripcion > div{
  max-height: fit-content;
  overflow: hidden;
  text-align: left;
}

.resultadoEstado{
  width: 10%;
  margin: 0 auto;
}

.resultadoId{
  width: 10%;
  margin: 0 auto;
}

.resultadoAccion{
  width: 20%;
  margin: 0 auto;
}

.resultadoAccion > button{
  width: 7rem;
  height: 2.2rem;
}

/* Evaluadores Examen Tabla*/
.evaluadoreNombre{
  width: 24%;
  margin: 0 auto;
}

.evaluadorCorreo{
  width: 24%;
  margin: 0 auto;
}

.evaluadorTelefono{
  width: 14%;
  margin: 0 auto;
}

.evaluadorId{
  width: 14%;
  margin: 0 auto;
}

.evaluadorEstado{
  width: 11%;
  margin: 0 auto;
}

.evaluadorAccion{
  width: 15%;
  margin: 0 auto;
}

/* Resulatdos de Aprendizaje */
.busquedaResultadoAprendizaje{
  padding: 1rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.resultadoAprendizaje{
  text-align: center;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Titulos de las Pantallas del Sistema */
.titulos{
  height: 4rem;
}

.botonAgregar-Filtro{
  height: 4rem;
}

/* Tabla calificar examen */
.bordeFilasBody{
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.actividadesExamen{
  text-align: justify;
  margin: 0px 0px 10px 0px;
  width: 100%;
  height: 6rem;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

.calificacionExamen{
  height: 6rem;
  margin: 0px 0px 10px 0px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

.observacionesExamen{
  width: 100%;
  height: 100%;
  resize: none;
}

.enviarCalificacion{
  display: flex;
  justify-content: center;
  padding: 2rem 5rem;
}


