<section class="content">
  <h1>Notas</h1>
  <div class="header_content">
    <p>Visualizar notas por materias, filtrar y editar los valores seleccionados</p>
    <button [routerLink]="['/notas-editar']"><b>Ingresar Nota</b></button>
    <button [replaceUrl]="true" [routerLink]="['/materias']"><b>Nueva Materia</b></button>
  </div>
  <div class="c_table">
    <div id="search-wrapper">
      <input id="search"  type="search" name="buscar" (change)="onChangeEvent($event)" placeholder="Buscar Materia">
      <!-- <i class="material-icons">Buscar</i> -->
    </div>


    <table *ngIf="notas">
      <tr>
        <th>Materia</th>
        <th>Semestre</th>
        <th>Parcial 1</th>
        <th>Parcial 2</th>
        <th>Final</th>
        <th>Promedio</th>
      </tr>
      <tr *ngFor="let notaItem of notas">
        <td [routerLink]="['/notas-editar/', notaItem.id]">{{notaItem.materia }}</td>
        <td [routerLink]="['/notas-editar/', notaItem.id]">{{notaItem.semestre }}</td>
        <td [routerLink]="['/notas-editar/', notaItem.id]">{{notaItem.parcial_1 }}</td>
        <td [routerLink]="['/notas-editar/', notaItem.id]">{{notaItem.parcial_2 }}</td>
        <td [routerLink]="['/notas-editar/', notaItem.id]">{{notaItem.final }}</td>
        <td [routerLink]="['/notas-editar/', notaItem.id]">{{notaItem.promedio }}</td>
      </tr>
    </table>
  </div>
</section>